---
import { getCollection, CollectionEntry } from "astro:content";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import { postcss } from "tailwindcss";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <H1 text={post.data.title} />
  <img
    src={post.data.image}
    width={700}
    height={200}
    alt={post.data.title}
    class="shadow-xl mb-3 aspect-auto object-cover"
  />
  <div class="flex">
    <p>written by</p><p class="pl-1 uppercase text-red-500">
      {post.data.author}
    </p>
  </div><div class="flex items-baseline">
    <p>on</p>
    <p class="text-xs pt-2 pl-1 text-red-500">{post.data.date}</p>
  </div>
  <p class="pt-4"><Content /></p>
</Layout>
