---
import { getCollection, type CollectionEntry } from "astro:content";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import { postcss } from "tailwindcss";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="max-w-[700px] mx-auto">
    <H1 text={post.data.title} />
    <div class="flex justify-center">
      <img
        src={post.data.image}
        width={700}
        height={200}
        alt={post.data.title}
        class="border border-black aspect-auto object-cover"
      />
    </div>
    <div class="flex justify-center pt-1 font-bold">
      <p>Written by</p><p class="pl-1 uppercase">
        {post.data.author}
      </p>
    </div>
    <div class="flex justify-center pt-1 text-xs">
      <p>{post.data.date}</p>
    </div>

    <div class="prose prose-2xl pt-2"><Content /></div>
  </div>
</Layout>
