---
import Image from "astro/components/Image.astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article
  class="transition-transform duration-300 hover:bg-black hover:text-ice border border-black"
>
  <a href={`/blog/${post.slug}`}>
    <Image
      src={post.data.image}
      width={400}
      height={200}
      alt={post.data.title}
      class="border-b border-black aspect-auto object-cover"
      quality={100}
    />
  </a>
  <a href={`/blog/${post.slug}`}>
    <div class="m-3">
      <h2 class="text-2xl font-semibold line-clamp-2">
        {post.data.title}
      </h2>
      <p class="line-clamp-2">{post.body}</p>
    </div>
  </a>
</article>
